.smartphone-screen {
width: 300px;
}
.pc-screen {
  display: none;
}
h1 {
	display: none;
}
.ID {
	display: none;
}
.input-call-ID {
	display: none;
}
.screen {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
}
.tittle img {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
body {
	background: #99cc33 url(img/bg.jpg) no-repeat;
}